name: Test Choice

on:
  workflow_dispatch:
    inputs:
      spreadsheet_ids:
        description: Spreadsheet Ids (delimited by comma)
        required: true
      db_env:
        description: Database Environment
        required: true
        default: 'staging'
        type: choice
        options:
          - staging
          - production

jobs:
  load_spreadsheets:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: echo ${{ inputs.db_env }}
